:root {
  /* Font */
  --font-family-logo: 'Raleway', 'Montserrat', 'sans-serif';
  --font-family-main: 'Roboto', 'Open Sans', 'sans-serif';
  --font-weight-heading: 700;

  /* Text colors */
  --primary-brand-txt-cl: #4d5ae5;
  --body-txt-cl: #434455;
  --dark-txt-cl: #2e2f42;
  --light-txt-cl: #f4f4fd;
  --white-txt-cl: #ffffff;
  --active-link-txt-cl: #404bbf;

  /* Background colors */
  --dark-bg-cl: #2e2f42;
  --light-bg-cl: #f4f4fd;
  --primary-brand-btn-bg-cl: #4d5ae5;
  --accent-bg-cl: #e7e9fc;
  --white-bg-cl: #ffffff;
  --light-btn-bg-color: #f4f4fd;
  --pressed-btn-state-bg: #404bbf;

  /* Others */

  --indent: 24px;
  --items: 3;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* -------------------------- */
/* -----------body----------- */
/* -------------------------- */

body {
  font-family: var(--font-family-main);

  color: var(--body-txt-cl);

  background-color: var(--white-bg-cl);
}

/* -------------------------- */
/* ---------buttons---------- */
/* -------------------------- */
.btn:hover,
.btn:focus {
  color: var(--white-txt-cl);
  background-color: var(--pressed-btn-state-bg);
}

.btn {
  cursor: pointer;

  font-family: var(--font-family-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;
}

.hero-btn {
  width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;

  color: var(--white-txt-cl);
  background-color: var(--primary-brand-btn-bg-cl);
}

.portfolio-btn {
  color: var(--primary-brand-txt-cl);
  background-color: var(--light-btn-bg-color);
}

/* -------------------------- */
/* -----------link----------- */
/* -------------------------- */
.link:hover,
.link:focus {
  color: var(--active-link-txt-cl);
}

.header-nav .link.current {
  color: var(--active-link-txt-cl);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* -------------------------- */
/* --------title (h2)-------- */
/* -------------------------- */

.section-title {
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -------------------------- */
/* -----------logo----------- */
/* -------------------------- */
.logo {
  font-family: var(--font-family-logo);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;

  color: var(--primary-brand-txt-cl);
}

.light-theme-logo {
  color: var(--dark-txt-cl);
}

.dark-theme-logo {
  color: var(--light-txt-cl);
}

.header-link {
  margin-right: 76px;
}

/* -------------------------- */
/* ------section-header------ */
/* -------------------------- */

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 40px;
}

.nav-item,
.nav-contacts {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header .nav-contacts {
  color: inherit;
}

.header {
  background-color: var(--white-bg-cl);
  border-bottom: 1px solid #e7e9fc;
}

/* -------------------------- */
/* -------section-hero------- */
/* -------------------------- */
.hero-title {
  width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;

  letter-spacing: 0.02em;

  color: var(--white-txt-cl);
}

.hero {
  background-color: var(--dark-bg-cl);

  flex-basis: 100%;
  padding-top: 188px;
  padding-bottom: 188px;
}

/* -------------------------- */
/* -----section-benefits----- */
/* -------------------------- */

.benefits-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.benefits-descr {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}

/* ----------------------------- */
/* -section "What are we doing"- */
/* ----------------------------- */

/* ----------------------------- */
/* -----section "Our Team"------ */
/* ----------------------------- */

.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.team-descr {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}

.our-team {
  background-color: var(--light-bg-cl);
}
/* -------------------------- */
/* ---------footer----------- */
/* -------------------------- */
.logo-subtext {
  font-family: var(--font-family-main);
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;

  color: #d9d9d9;
}

.footer {
  background-color: var(--dark-bg-cl);
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */
/* -------------------------- */
/* -------Portfolio---------- */
/* -------------------------- */
/* !!!!!!!!!!!!!!!!!!!!!!!!!! */

/* -------------------------- */
/* ----section Filters------- */
/* -------------------------- */

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  letter-spacing: 0.02em;

  color: var(--dark-txt-cl);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
}
